{% extends "base_connected.html" %}

{% block custom_css %}

{% end %}

{% block content %}

    <div id="counter"></div>

    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <input type='hidden' id='assignment_id' value="{{ assignment_id }}">
    <p class="lead">{{ details }}</p>

    <p>
        <select class="form-control" id="language-select">
            <option value="text/x-csharp" selected="selected">C#</option>
            <option value="javascript">Javascript</option>
            <option value="python">Python</option>
        </select>
    </p>
    <p>
    <div>
        <textarea id="code" name="code"></textarea>
    </div>
    </p>
    <p>
        <form action="/assignment/1" method="post" id="test_form">
            <fieldset>
                <input class="text-input" id="code_area" name="code_area" type="text" hidden="true" value="">
            </fieldset>
            <a class="btn btn-primary btn-lg" id="run_button" role="button">Run</a>
            <input id="submit_button" class="btn btn-primary btn-lg" type="submit" value="Submit" tabindex="3">

        </form>
    </p>


    <div class="page-header">
        <h1>Execution Output</h1>
    </div>
    <p class="lead"><div id="code_result"></div></p>
    <p class="lead"><div id="code_stats"></div></p>
    <p class="lead"><div id="code_warnings"></div></p>
    <p class="lead"><div id="code_errors"></div></p>

{% end %}


{% block custom_js %}
<script src="../static/js/jquery.countdown.js"></script>
<script src="../static/js/main.js"></script>
{% end %}