{% extends "base_connected.html" %}

{% block custom_css %}

<link href="../static/css/assignment_list.css" rel="stylesheet">

{% end %}


{% block content %}

    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Assignments</h3>
            </div>
            <table class="table">
                <thead>
                <tr class="filters">
                    <th><input type="text" class="form-control" placeholder="#" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Title" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Difficulty" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Duration" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Status" disabled></th>
                    <th><input type="text" class="form-control" placeholder="Action" disabled></th>
                </tr>
                </thead>
                <tbody>
                {% for result in assignment_list %}
                <tr>
                    <td>{{ result.id }}</td>
                    <td>{{ result.title }}</td>
                    <td>{{ result.level }}</td>
                    <td> 15 minutes </td>
                    <td> Open </td>
                    <td>
                        <a class="btn btn-xs btn-success" href="/assignment/{{ result.id }}">
                            <span class="glyphicon glyphicon-play"></span> Start
                        </a>
                    </td>
                </tr>
                {% end %}
                </tbody>
            </table>
        </div>
    </div>

{% end %}


{% block custom_js %}

{% end %}